<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Sound Wave</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/MusicalPortal.styles.css" asp-append-version="true" />
	<link rel="icon" href="~/img//SoundWaveLogo1.svg" />
</head>
<body id="bodyFromLayout">

	<div id="Cookies">
		<div>
			<img src="/img/cookies.png" />
		</div>
		<div>
			<h2>Мы используем cookie</h2>
			<p>Нажимая кнопку принять, вы соглашаетесь использовать файлы cookie и аналогичные технологии</p>
			<a asp-action="AcceptCookies" asp-controller="Home" asp-route-model="@Model">Принять</a>
		</div>
	</div>

	<header>
		<section class="sidebarHeader">
			<div class="btnSideBarStyle">
				<div id="btnSideBar">
					<img src="~/img/menu (2).png" />
				</div>
			</div>
			<div id="IconTitle">
				<img src="~/img/SoundWaveLogo1.svg" />
				<h2>SoundWave</h2>
			</div>
		</section>


		<section>
			@if (Context.Request.Cookies.TryGetValue("userLoginSoundWave", out string value))
			{
				<div id="profileMenu">
					<img id="profileMenubtn" src="/img/ProfileData.png" />
				</div>
			}
			else
			{
				<a asp-action="SignIn" asp-controller="Account" id="signInA">Sign in</a>
			}
		</section>
	</header>



	<div id="BODY">
		@RenderBody()
	</div>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>

	@await RenderSectionAsync("Scripts", required: false)

</body>
</html>
